DATABASE_URL="postgresql://USER:PASSWORD@ep-example-pooler.eu-central-1.aws.neon.tech/gp_visits?sslmode=require&pgbouncer=true&connect_timeout=15"
DIRECT_DATABASE_URL="postgresql://USER:PASSWORD@ep-example.eu-central-1.aws.neon.tech/gp_visits?sslmode=require&connect_timeout=15"
JWT_SECRET="change_me_in_production"
PORT=3000
